

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;  
}

html{
    font-size: 12px;
    font-family:cursive;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin: 5px 0;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span{
    color: crimson;
}
/*header*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: black;
    opacity: 0.95;
    transition: 0.3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 2px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left:100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;

}
#header .nav-list ul.active{
    left: 0%;
}

#header .nav-list ul a{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color:white;
    opacity: 0.1;
    font-size:6rem;
    letter-spacing:50px;
    z-index:-1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   background-color: white;
   transition: 0.3s ease;
   transition-property: top,bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::after{
    top: 0;
    
}

#header .hamburger .bar::before{
    
    bottom: 0;
}
/*end of header*/
/*Hello Section*/
#hello{
    background-image: url('../Images/image2.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hello::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hello .hello{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px ;
    justify-content: flex-start;
}
#hello h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text-reveal 1s ease forwards ;
}
#hello h1:nth-child(1){
    animation-delay: 1s;
}

#hello h1:nth-child(2){
    animation-delay: 2s;
}

#hello h1:nth-child(3){
    animation: text-reveal-name 1s ease forwards;
    animation-delay: 3s;
}


#hello .ctm{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color:transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color;
}

#hello .ctm:hover{
    color: white;
    background-color: crimson;

}

/*End Of Hello Section*/


/*Poem Section*/

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span{
    color: crimson;
}

#poems .poems{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#poems .poems-header h1{
    margin-bottom: 50px;
}

#poems .all-poems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#poems .poem-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000;
}

#poems .poem{
    padding: 30px;
    flex-basis:  50%;
    background-image: linear-gradient(60deg, #29323c 0%,#485563 100%);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#poems .poem h1{
    font-size: 2.5rem;
    font-weight: 500;
}

#poems .poem p{
    color: white;
}

#poems .poem-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

#poems .poem-img::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: 0.7;
    z-index: -1;

}
#poems .poem-img img{
    transition: 0.3s ease transform;
}
#poems .poem-img img:hover{
    transform: scale(1.1);

}
/*End of poem section*/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    padding: 100px 20px;
    margin: auto;
    
}

#about .col-left{
    width: 250px;
    height: 360px;
    
}

#about .col-right{
    width: 100%;
    
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .ctm{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color:transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color;
    margin-bottom:50px;
}

#about .col-right .ctm:hover{
    color: white;
    background-color: crimson;

}
#about .col-left .about-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: .3s ease;
    
}
#about:hover .about-img img{
    transform: scale(1.1);

}
#about .col-left .about-img{
   
    position: relative;
    z-index: 0;
   border: 10px solid white;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -40px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
    border-radius: 50%;
    z-index: -1;
    transition: .3s ease;

}
#about:hover .col-left .about-img::after{
    transform: scale(1.1);
}

/*About Section*/

/*End-of-About-Section*/

/*Contact-Secion*/
#contact .contact{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0;
}

#contact .contact-items{
    width: 400px;
}

#contact .contact-item{
    width: 80%;
    padding: 30px;
    text-align: center;
    margin: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0px #0026;
    flex-direction: column;
    transition: 0.3s ease;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0px #0026;
    transform: scale(1.05);
}

#contact icon{
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    object-fit: cover;
}

#contact .contact-info h1{
   font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 5px;
     line-height:2rem;
 }
 
/*end-of-contact-section*/

/*footer*/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer{
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .social-icons{
    display: flex;
    margin-bottom: 40px;
}

#footer .social-item{
    width: 60px;
    height: 60px;
    margin: 0 5px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: 0.3s ease filter transform;
}

#footer .social-item:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}

#footer p{
    color: white;
    font-size: 1rem;
}
/*end-of-footer*/

/*keyframes*/

@keyframes text-reveal{
    100%{
        color: white;
    }
}
@keyframes text-reveal-name{
    100%{
        color: tomato;
    }
}
/*end of key frames*/

/* Media Query for Tablet*/

@media only screen and (min-width:720px){
    .ctm{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1{
        font-size: 6rem;
    }
    /*hello*/
    #hello h1{
        font-size: 5rem;
    }
    /*end-of-hello*/

    /*poem-section*/
    #poems .all-poems{
        padding: 8px;
    }
    #poems .poem-item{
        flex-direction: row;
    }
    #poems .poem-item{
        height: 400px;
        margin: 2px;
        width: 100%;
        border-radius: 0;
    }
    #poems .poem-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #poems .all-poems .poem{
        height: 100%;  
    }

    #poems .all-poems .poem-img{
        height: 100%;  
    }
    /*end-of-poem-section*/
   /*about*/
   #about .about{
       flex-direction: row;
   }
   #about .col-left{
       width: 600px;
       height: 400px;
       padding-left: 60px;

   }

   #about .col-left .about-img::after{
        left: -45;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
        z-index: -1;
   }

   #about .col-right{
       text-align: left;
       padding: 30px;
   }
   #about .col-right h1{
       text-align: left;
   }
   /*end-of-about-section*/ 

   /*contact-section*/
   #contact .contact{
       flex-direction: column;
       padding: 100px 0;
       align-items: center;
       justify-content: center;
       min-width: 20vh;
   }

   #contact .contact-items{
       width: auto;
       display: flex;
       flex-direction: row;
       margin: 10px;
      padding: 20px; 
   }

   #contact .contact-item{
       width: 100%;
       margin: 10px;
       padding: 10px;
       display: flex;
       flex-direction: row;
   }
   #contact .contact-item .icon{
       height: 80px;
       width: 80px;
   }
   #contact .contact-item .icon img{
       object-fit: contain;
   }
   #contact .contact-item .contact-info{
       width: 100%;
       text-align: left;
       padding-left: 20px;
   }
   /*end-of-contact-section*/
}
/*end-of-media-query-for-tablet*/

/*media query for desktop*/
@media only screen and (min-width:1200px){
    #contact .contact{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    #contact .contact-items{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 100%;
        
    }
    
    #contact .contact-item{
        width: 100%;
        padding: 30px;
        text-align: center;
        margin: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #contact .contact-item .icon{
        height: 80px;
        width: 80px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
}
/*end of media query for desktop*/